<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>

<body>
    <form action="/api/user/forget-password" method="POST">
        <section id="input-group">
            <label for="email">
                enter your email </label>
            <input type="email" id="email">
        </section>
   <button type="submit">send link</button>
    </form>
    <button><a href="/login/patient">Go Back</a></button>
</body>

</html>