<header>
  <div class="header-container">
    <div class="logo">
      <i class="fas fa-bars"  style="font-size: 1rem; color: var(--secondary-color); display: none;"></i> 
      <i class="fas fa-times" onclick="closeMenu()" style="font-size: 1rem; color: var(--secondary-color); display: none;"></i> 
      
      <h1>e-OPD</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#services"><i class="fas fa-concierge-bell"></i> Services</a></li>
        <li><a href="#about"><i class="fas fa-info-circle"></i> About</a></li>
        <li><a href="#gallery"><i class="fas fa-images"></i> Gallery</a></li>
        <li><a href="#connect"><i class="fas fa-envelope"></i> Connect-us</a></li>
        <li><a href="#footer"><i class="fas fa-link"></i> Links</a></li>
        <li><a style="text-decoration: none; outline: none;" href="#" id="loginBtn" onclick="loginFunction()"><i class="fas fa-sign-in-alt"></i> Login</a></li>
      </ul>
    </nav>
  </div>
</header>
