<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Admin</title>
    <link rel="stylesheet" href="/super-admin/style1.css" />
    <link rel="stylesheet" href="/super-admin/menu.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="main-dashboard">
      <div class="menu">
        <div id="list9302">
          <ul style="color: white">
            <div class="profile9302">
              <i class="ri-user-3-line"></i>
              <h4 style="text-align: center">CHETRAM PATEL</h4>
            </div>
            <li><a href="admin-index1.html" class="anchor9302">User Info </a></li>
            <li><a href="/api/add-doctor" class="anchor9302">Add Doctors</a></li>
            <li><a href="#" class="anchor9302">Add Hospitals</a></li>
            <li><a href="#" class="anchor9302">######</a></li>
            <li><a href="#" class="anchor9302">######</a></li>
            <li><a href="#" class="anchor9302">######</a></li>
            <li><a href="#" class="anchor9302">######</a></li>
            <li><a href="#" class="anchor9302">######</a></li>
          </ul>
        </div>
      </div>

      <div class="content-box9302">
        <div class="profile-overview">
          <div class="username">Username: Chetram Patel</div>
          <div class="age">Age: 18</div>
          <div class="address">Address: 123 Dark Alley, Shadowtown</div>
          <div class="visits">Recent Visits: 5</div>
          <div class="reward">Reward: 2 Gold Stars</div>
          <div class="coins">Coins: 100</div>
        </div>
      </div>
    </div>
  </body>
</html>
